<form [formGroup]="signUpForm" (ngSubmit)="submitForm()">
  <div class="form-container"> 
  <mat-form-field appearance="fill">
      <input class="username"  matInput placeholder="Enter your username" formControlName="username">
      <mat-error *ngIf="signUpForm.get('username')?.hasError('serverError')">{{usernameError}}
      </mat-error>
      <mat-error *ngIf="signUpForm.get('username')?.invalid && signUpForm.get('username')?.touched && !signUpForm.get('username')?.hasError('serverError')">Username is required
      </mat-error>

    </mat-form-field>
      <mat-form-field appearance="fill">
          <input class="email"  matInput placeholder="Enter your email" formControlName="email">
          <mat-error *ngIf="signUpForm.get('email')?.hasError('serverError')">{{emailError}}
          </mat-error>
          <mat-error *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched && !signUpForm.get('email')?.hasError('serverError')">Email address is required
          </mat-error>
    
        </mat-form-field>
      <mat-form-field appearance="fill">
          <input type="password" class="password"  matInput placeholder="Enter your password" formControlName="password">
          <mat-error *ngIf="signUpForm.get('password')?.hasError('serverError')">{{passwordError}} 
          </mat-error>
          <mat-error *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched && !signUpForm.get('password')?.hasError('serverError')">password is required
          </mat-error>
    
        </mat-form-field>

    <button class="custom-button" mat-button color="primary">Sign Up</button>

  </div>
  </form>
  
  